 .flex_btn .docs2 {
    position: relative;
    background: linear-gradient(92deg, #9327ff 1.06%, #ffa927 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 500px;
    border-image: linear-gradient(100.09deg, #9327ff 0%, #ffa927 100%) 1;
    border: 1px solid;
    font-weight: 500;
    /* color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 5px;
    width: auto;
    cursor: pointer;
  }
    .flex_btn > .docs2::after {
    content: "";
    position: absolute;
    top: -1;
    left: -1;
    width: 101%;
    height: 106%;
    background: linear-gradient(100.09deg, #9327ff 0%, #ffa927 100%);
    border-radius: 500px;
    z-index: -1;
  }
  
  .flex_btn  button {
    width: max-content;
    font-size: 18px;
    padding: 16px 40px;
  
  }
  .doct{
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(92deg, #9327ff 1.06%, #ffa927 100%);
    padding: 10px;
  }
  
  .gradtext{
    background-image: linear-gradient(92deg, #9327ff 1.06%, #ffa927 100%);
    background-clip: text;
    color: transparent;
  }
    .btn_contain > button {
      outline: none;
      display: flex;
      align-items: center;
      padding: 0.5rem 1.3rem;
      color: #fff;
      background: none;
      border-radius: 500px;
      justify-content: center;
      position: relative;
    }
    
    .btn_contain > button::after {
      content: "";
      position: absolute;
      top: -1;
      left: -1;
      width: 101%;
      height: 106%;
      background: linear-gradient(100.09deg, #9327ff 0%, #ffa927 100%);
      border-radius: 500px;
      z-index: -1;
    }
  .flex_btn .docs1 {
    background: linear-gradient(92deg, #9327ff 1.06%, #ffa927 100%);
    border-radius: 500px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
  }
  .card{
    background: linear-gradient(92deg, #1A0F00 1.06%, #07000F 100%); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 1px solid white;
    height: 538px;
  }
  @media screen and (max-width: 1012px) and (min-width: 300px)  {
    .wrapper_cont {
      background-color: #000000;
      padding-top: 8rem;
      color: white;
    }
    .top{
      display: block;
      padding-top: 1rem;
      margin-left: 1rem;
    }
    .top2{
      display: flex;
      padding-top: 1rem;
    }
    .moy{
      display: block;
    }
    .nav-brand > h1 {
      font-size: 20px;
    }
    .numbers{
      font-size: 100px;
      gap: 10rem;
      margin-left: 2rem;
    }
    .lg\:hidden{
      display: none;
    }
  }