 table {
            border-collapse: collapse;
            width: 100%;
            border-radius: 10px;
        }

        th, td {
            border: 1px solid #D9d9d9;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #140029;
        }

           @media (max-width: 600px) {
            th, td {
                font-size: 12px; /* Adjust font size for smaller screens */
            }
        }