*{
    padding: 0;
    margin: 0;
}

.btn_container > button {
  outline: none;
  padding: .5rem 1.3rem;
  display: flex;
  align-items: center;
  color: #fff;
  background: #140029;
  border: 1px solid;
  border-image: linear-gradient(100.09deg, #9327FF 0%, #FFA927 100%) 1;
  border-radius: 500px;
  justify-content: center;
}
