#hero-section {
  background: url("/Images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content h1 {
  font-size: 60px;
  font-weight: 500;
  width: 50%;
  text-align: center;
  max-width: 37%;
  margin: auto;
  /* margin:auto; */
  line-height: 130%;
  color: #fff;
}

.hero-content {
  margin-top: 3rem;
}

.hero-content p {
  font-size: 20px;
  font-weight: 350;
  width: 68%;
  margin: auto;
  max-width: 70%;
  text-align: center;
  color: #fff;
  margin-top: 1rem;
}

.hero-content > div {
  width: 90%;
  max-width: 30rem;
}

.flex_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 1.5rem;
}

.flex_btn {
  width: 90%;
  max-width: 30rem;
  margin-bottom: 7rem;
  margin-top: 2.5rem;
}

@media screen and (max-width: 767px) {
  .flex_btn > button {
    width: 100% !important;
  }
}

.hero-content .bg-purple {
  background-color: #9327ff !important;
  color: #fff;
}

.flex_btn > button {
  display: block;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .flex_btn > button {
    width: max-content;
  }
  /* .flex_btn > .doc2 {
    width: max-content;
  } */
}

.flex_btn .docs1 {
  background: linear-gradient(92deg, #9327ff 1.06%, #ffa927 100%);
  padding: 16px 40px 16px 40px;
  border-radius: 500px;
  border: none;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.flex_btn .docs2 {
  background: linear-gradient(92deg, #9327ff 1.06%, #ffa927 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 16px 40px 16px 40px;
  border-radius: 500px;
  border: none;
  border-image: linear-gradient(100.09deg, #9327ff 0%, #ffa927 100%) 1;
  border: 1px solid;
  font-weight: 500;
  color: red;
  font-size: 18px;
  cursor: pointer;
}

/* test */
#test div {
  height: 100px;
  border: 2px gray solid;
}

#test {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
