.group1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  width: 95%;
  padding: 2rem;
  margin: auto;
}

.link:active{
  background-color: #4d4b4e;
  padding: 5px 2px;
  border-radius: 500px;
}

.mobile-nav-contents {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: comeDown;
  animation-duration: 0.6s;
  -webkit-animation-name: comeDown;
  -webkit-animation-duration: 0.6s;
}
.btn_container > button {
  outline: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.3rem;
  color: #fff;
  background: linear-gradient(92deg, #140029 1.06%, #010101 100%);
  border-radius: 500px;
  justify-content: center;
  position: relative;
}

.btn_container > button::after {
  content: "";
  position: absolute;
  top: -1;
  left: -1;
  width: 101%;
  height: 106%;
  background: linear-gradient(100.09deg, #9327ff 0%, #ffa927 100%);
  border-radius: 500px;
  z-index: -1;
}

/* ul {
  list-style-type: none;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  background: #444546;
  border: 1px solid #9327ff33;
  border-radius: 500px;
  padding: 8px;
}



nav {
  margin-top: 1.5rem;
} */

.nav-brand > h1 {
  font-size: 25px;
  color: #fff;
}

/* li {
  font-weight: 500;
  display: inline-block;
  margin: 8px;
  border: 1px solid
    linear-gradient(
      100.09deg,
      rgba(147, 39, 255, 0.2) 0%,
      rgba(255, 169, 39, 0.2) 100%
    );
}

li > a {
  width: max-content;
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
} */

@media screen and (max-width: 1012px) and (min-width: 500px)  {
  .btn_container > button {
    display: none;
  }
  .wallet{
    display: none;
  }
  .profile{
    display: none;
  }
  .nav-brand > h1 {
    font-size: 20px;
  }
  nav{
    border-bottom: 1px solid white;
  }
  
}
